@font-face {
    font-family: "Sk Modernist";
    src: url("../fonts/Sk-Modernist-Regular.otf");
}

@font-face {
    font-family: Ranua;
    src: url("../fonts/Ranua-Book.otf");
    font-weight: 300;
}

@font-face {
    font-family: Ranua;
    src: url("../fonts/Ranua-Regular.otf");
}

@font-face {
    font-family: Ranua;
    src: url("../fonts/Ranua-Demi.otf");
    font-weight: 500;
}

:root {
    --kempinski-black: #1d1d1d;
    --kempinski-dark-slate: #47655d;
    --kempinski-light-slate: #83928f;
    --kempinski-gray: #c9c9c9;
    --kempinski-light-gray: #eaeaea;
    --kempinski-white: #ffffff;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Sk Modernist", sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ranua, sans-serif;
    font-weight: normal;
    line-height: 1.1;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

header nav {
    position: fixed;
    top: 0;
    left: 3rem;
    width: calc(100% - 6rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: .1rem solid rgba(255, 255, 255, .3);
    z-index: 10;
    transition-property: background-color, width, left, padding;
    transition-duration: .15s;
    transition-timing-function: ease-out;
}

header nav h1 {
    color: white;
    text-transform: lowercase;
    font-weight: 500;
    margin: 0;
    font-size: 2rem;
    font-family: Ranua, sans-serif;
}

header nav .btn::before {
    content: "Make a ";
}

header nav.scrolled {
    background-color: var(--kempinski-white);
    left: 0;
    width: 100%;
    padding: .75rem 3rem;
    border-bottom: none;
}

header nav.scrolled h1 {
    color: var(--kempinski-black);
}

@media screen and (max-width: 576px) {
    header nav {
        left: 1rem;
        width: calc(100% - 2rem);
    }

    header nav h1 {
        font-size: 1.75rem;
    }

    header nav .btn::before {
        display: none;
    }

    header nav.scrolled {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.btn {
    font-size: 90%;
    font-family: "Sk Modernist", sans-serif;
    border-radius: 5rem;
    padding: .875rem 1.5rem;
    border: none;
    background-color: var(--kempinski-dark-slate);
    color: white;
}

#slider {
    background-color: var(--kempinski-black);
}

#slider article {
    position: relative;
    display: none;
}

#slider article.active {
    display: block;
    animation: slider-fade 1s;
}

@keyframes slider-fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

#slider .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40rem;
    max-width: 90%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}

#slider h2 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
}

#slider p {
    width: 25rem;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#slider img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(.6);
    display: block;
}

#slider .indicators {
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    padding-left: 0;
    list-style: none;
    display: flex;
}

#slider .indicators li {
    height: .5rem;
    width: .5rem;
    border-radius: 100%;
    margin-right: .75rem;
    background-color: var(--kempinski-white);
    opacity: .6;
    transition: opacity .15s ease-out;
}

#slider .indicators li:hover {
    cursor: pointer;
}

#slider .indicators li.active {
    opacity: 1;
}

@media screen and (max-width: 576px) {
    #slider h2 {
        font-size: 2rem;
    }

    #slider .indicators {
        left: 1rem;
    }
}

#about {
    min-height: 100vh;
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#about h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

#about article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#about article > * {
    padding-right: 1rem;
    padding-left: 1rem;
    flex-basis: 45%;
}

#about img {
    width: 100%;
    height: calc(100vh - 10rem);
    object-fit: cover;
    display: none;
}

#about img.active {
    display: block;
    animation: slider-fade 1s;
}

#about .indicators {
    padding-left: 0;
    list-style: none;
    display: flex;
}

#about .indicators li {
    height: .5rem;
    width: .5rem;
    border-radius: 100%;
    margin-right: .75rem;
    background-color: var(--kempinski-black);
    opacity: .6;
    transition: opacity .15s ease-out;
}

#about .indicators li:hover {
    cursor: pointer;
}

#about .indicators li.active {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    #about {
        min-height: auto;
    }

    #about article {
        align-items: stretch;
    }

    #about article > * {
        flex-basis: 50%;
    }

    #about h2 {
        font-size: 2rem;
    }

    #about img {
        height: 100%;
    }
}

@media screen and (max-width: 576px) {
    #about article {
        flex-direction: column;
    }

    #about .images {
        display: none;
    }
}

#inside {
    background-image: url("../img/inside.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#inside::after {
    content: "";
    background-color: var(--kempinski-black);
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#inside .btn {
    color: white;
    background-color: var(--kempinski-black);
    z-index: 1;
}

#reservation {
    height: 100vh;
    display: flex;
    align-items: stretch;
}

#reservation .room:nth-child(even) {
    background-color: var(--kempinski-black);
    color: white;
}

#reservation .room {
    display: flex;
    align-items: center;
    padding: 5rem;
    text-align: center;
    flex-basis: calc(100% / 3);
}

#reservation .room span {
    text-transform: uppercase;
}

#reservation .room h2 {
    font-size: 2rem;
}

#reservation .room img {
    width: calc(100% + 5rem);
    height: 20rem;
    object-fit: cover;
    margin-left: -2.5rem;
}

#reservation .price::before {
    content: "IDR ";
}

#reservation .price::after {
    content: "/night";
}

@media screen and (max-width: 768px) {
    #reservation {
        height: auto;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    #reservation .room {
        padding: 2.5rem 1rem;
    }

    #reservation .room img {
        margin-left: -1rem;
        width: calc(100% + 2rem);
    }
}

footer {
    background-color: var(--kempinski-light-gray);
    padding: 5rem;
}

footer h2 {
    font-weight: 500;
    font-size: 2.5rem;
    text-transform: lowercase;
    margin-top: 0;
    margin-bottom: 4rem;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

footer nav {
    display: flex;
}

footer nav ul {
    margin-right: 5rem;
    padding-left: 0;
    list-style: none;
}

footer nav ul li {
    margin-bottom: 1rem;
}

footer nav ul li a::after {
    content: "";
    display: block;
    background-color: var(--kempinski-black);
    height: .1rem;
    width: 0;
    transition: width .15s ease-out;
}

footer nav ul li a:hover::after {
    width: 2rem;
}

footer form label {
    display: block;
    font-size: 1.125rem;
    font-family: Ranua, sans-serif;
    font-weight: 500;
}

footer form input {
    display: block;
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: .1rem solid var(--kempinski-gray);
    padding: .625rem .125rem;
    background-color: transparent;
    font-family: "Sk Modernist", sans-serif;
    font-size: 100%;
}

footer form input:focus {
    outline: none;
    border-bottom: .1rem solid var(--kempinski-black);
}

footer .copyright {
    border-top: .1rem solid var(--kempinski-black);
    padding-top: 5rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    footer {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    footer nav ul {
        margin-right: 2.5rem;
    }

    footer form input {
        width: 14rem;
    }
}

@media screen and (max-width: 576px) {
    footer .wrapper {
        flex-direction: column;
    }

    footer nav {
        flex-wrap: wrap;
    }

    footer form {
        margin-top: 2rem;
        text-align: center;
    }

    footer form input {
        width: 100%;
    }
}